/* basic */
@import url(./setup/vars.css);
@import url(./setup/helpers.css);
@import url(./setup/font-family.css);
/* cmps */
@import url(./setup/icon-hover-color.css);
@import url(./setup/btn-modal-open.css);
@import url(./setup/cmps/header.css);
@import url(./setup/cmps/drop-down.css);
@import url(./setup/cmps/modal.css);
@import url(./setup/cmps/main-content.css);
@import url(./setup/cmps/footer.css);

* {
    font-family: Lato, serif;
    box-sizing: border-box;
    margin: 0;
}
